.ico Region {
    -fx-shape: "M512 0a512 512 0 1 0 512 512A512 512 0 0 0 512 0z m-34.5088 992.0512v-199.2704h69.0176v199.2704c-11.4176 0.8192-22.8864 1.2288-34.5088 1.2288s-23.0912-0.4608-34.5088-1.2288zM273.8688 431.2064h19.1488v226.9696h-19.1488z m-30.72-30.72h-10.8544v-19.1488h559.4112v19.1488H243.1488zM629.76 350.6176H394.24V281.6h235.52z m101.376 80.5888h19.1488v226.9696h-19.1488z m-362.496 0h286.72v197.1712l-65.792 133.6832H434.2784L368.64 628.3776z m208.7424 557.6192v-196.0448h31.5904L686.08 635.5456V431.2064h14.0288v257.6896h80.5888V431.2064h41.5744V350.6176H757.76v-70.656h-34.8672v70.656H660.48V250.88H363.52v99.7376H300.8512v-70.656H266.24v70.656H201.5744v80.5888h41.5744v257.6896h80.5888V431.2064H337.92v204.3392l77.4144 157.2352h31.5904v196.0448a481.28 481.28 0 1 1 130.4576 0z";
    -fx-background-color: red;
}
/* 1. 外层容器样式：鼠标放上去变色，变成小手 */
.icon-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 30%; /* 圆形背景 */
    -fx-transition: -fx-background-color 0.2s;
}

.icon-button:hover {
     /* 使用更淡的半透明色，适配任何背景 */
        -fx-background-color: #e0e0e0;
}

/* 2. 图标本身：利用 Region + -fx-shape */
.icon-shape {

 -fx-background-color: #555555;

    /* 核心微调：从 20px 降到 14px，让图标看起来更“贵” */
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;
}
.icon-button:hover .icon-shape {
    -fx-background-color: #000000;
}
/* 关闭按钮：悬停红底白字 */
.exit-btn:hover {
    -fx-background-color: #e81123;
   // -fx-background-radius: 0 0 0 0;
}
.exit-btn:hover .icon-shape {
    -fx-background-color: white;
}


/* 语言：细节很多，保持 14px */
.shape-lang {
    -fx-shape: "M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75l1.13 3h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z";
}

/* 主题：调色盘 */
.shape-theme {
    -fx-shape: "M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10c1.38 0 2.5-1.12 2.5-2.5 0-.61-.23-1.2-.64-1.67-.08-.1-.13-.21-.13-.33 0-.28.22-.5.5-.5H16c3.31 0 6-2.69 6-6 0-4.96-4.49-9-10-9zm-4.5 9c-.83 0-1.5-.67-1.5-1.5S6.67 8 7.5 8s1.5.67 1.5 1.5S8.33 11 7.5 11zm3-3c-.83 0-1.5-.67-1.5-1.5S9.67 5 10.5 5s1.5.67 1.5 1.5S11.33 8 10.5 8zm4 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 3c-.83 0-1.5-.67-1.5-1.5S16.67 8 17.5 8s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z";
}

/* 最小化：缩短横杠长度，避免违和 */
.shape-min {
    -fx-shape: "M0 0 H8 V1.2 H0 Z"; /* 长度从 10 缩到 8，厚度 1.2 */
    -fx-max-width: 10px; /* 限制横杠宽度，不让它占满 14px */
    -fx-min-height: 2px;
    -fx-pref-height: 2px;
    -fx-max-height: 2px;
}

/* 关闭：叉号稍微变细 */
.shape-close {
    -fx-shape: "M1.1,0L0,1.1L3.9,5L0,8.9L1.1,10L5,6.1L8.9,10L10,8.9L6.1,5L10,1.1L8.9,0L5,3.9L1.1,0z";
    -fx-max-width: 11px; /* 叉号通常比其他图标稍窄一点更优雅 */
}
