@import "../fonts/fonts.css";

* {
    -fx-font-family: "HONOR Sans CN Medium";
}

.label {
    -fx-alignment: center;
}

#root {
    -fx-background-color: White;
    -fx-background-radius: 12 12 0 0;
}

.top {
    -fx-background-color: #e5e4e4;
    -fx-background-radius: 12 12 0 0;
}

.ico Region {
    -fx-shape: "M512 0a512 512 0 1 0 512 512A512 512 0 0 0 512 0z m-34.5088 992.0512v-199.2704h69.0176v199.2704c-11.4176 0.8192-22.8864 1.2288-34.5088 1.2288s-23.0912-0.4608-34.5088-1.2288zM273.8688 431.2064h19.1488v226.9696h-19.1488z m-30.72-30.72h-10.8544v-19.1488h559.4112v19.1488H243.1488zM629.76 350.6176H394.24V281.6h235.52z m101.376 80.5888h19.1488v226.9696h-19.1488z m-362.496 0h286.72v197.1712l-65.792 133.6832H434.2784L368.64 628.3776z m208.7424 557.6192v-196.0448h31.5904L686.08 635.5456V431.2064h14.0288v257.6896h80.5888V431.2064h41.5744V350.6176H757.76v-70.656h-34.8672v70.656H660.48V250.88H363.52v99.7376H300.8512v-70.656H266.24v70.656H201.5744v80.5888h41.5744v257.6896h80.5888V431.2064H337.92v204.3392l77.4144 157.2352h31.5904v196.0448a481.28 481.28 0 1 1 130.4576 0z";
    -fx-background-color: red;
}

.min {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.min:hover {
    -fx-background-color: #7a7a7a;
}

.exit {
    -fx-padding: 0;
    -fx-background-radius: 0 12 0 0;
    -fx-background-color: transparent;
}

.exit:hover {
    -fx-background-color: #b71515;
}
/* 设置下拉列表中选项的文本居中对齐 */
.combo-box .list-cell {
    -fx-alignment: center;
}
/* 设置选择按钮中的文本居中对齐 */
.combo-box .list-cell:filled:selected .text {
    -fx-alignment: center;
}
.title {
    -fx-background-color: #FF00008B;
    -fx-pref-width: 55;
    -fx-pref-height: 34;
}

#sendNumber, #receiveNumber {
    -fx-background-color: #e7e7e7;
    -fx-font-size: 22;
    -fx-pref-width: 345;
    -fx-pref-height: 34;
}
#time{
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-pref-height: 27;
}
#receive{
    -fx-background-color: black;
    -fx-text-fill: rgb(0, 255, 0);
}

